---
import { getCollection } from 'astro:content'

import BaseLayout from '@/layouts/BaseLayout.astro'
import Hero from '@/components/ui/Hero.astro'
import PostCard from '@/components/ui/PostCard.astro'
import FadeOutDown from '@/components/ui/FadeOutDown.astro'
import Heading from '@/components/ui/Heading.astro'

const allPosts = await getCollection('posts', ({ data }) => !data.isDraft)
---

<BaseLayout
    title="Things I write about - Roland Franke"
    description="Welcome to my blog where I share my thoughts and experiences"
>
    <Hero slot="hero">
        <FadeOutDown class="flow" data-column="medium">
            <Heading tagName="h1" size="h1">My writings</Heading>
            <p class="fs-1">Welcome to my blog where I share my thoughts and experiences</p>
        </FadeOutDown>
    </Hero>

    <div class="grid lane lane--dark" data-grid="fullbleed">
        {allPosts.map((post) => <PostCard post={post} />)}
    </div>
</BaseLayout>
