.grid {
  --_gutter: 1.5rem;

  display: grid;
  grid-template-columns:
    [fullbleed-start] minmax(var(--_gutter), 1fr) [large-start] minmax(
      0,
      calc((var(--constrain-large) - var(--constrain-medium)) / 2)
    )
    [medium-start] minmax(0, calc((var(--constrain-medium) - var(--constrain-small)) / 2))
    [small-start] min(100% - (var(--_gutter) * 2), var(--constrain-small))
    [small-end] minmax(0, calc((var(--constrain-medium) - var(--constrain-small)) / 2))
    [medium-end] minmax(0, calc((var(--constrain-large) - var(--constrain-medium)) / 2))
    [large-end] minmax(var(--_gutter), 1fr) [fullbleed-end];
  align-content: start;

  & > * {
    grid-column: small;
  }

  &[data-grid='fullbleed'] {
    grid-column: fullbleed;
    grid-template-columns: subgrid;
  }
}

[data-column='large'] {
  grid-column: large;
}

[data-column='medium'] {
  grid-column: medium;
}
