.bold {
  font-weight: var(--fw-semibold);
}

.italic {
  font-style: italic;
  font-weight: var(--fw-normal);
  /* Stylistic Sets for R */
  font-feature-settings: 'ss05' on;
}

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

code {
  font-size: 1em;
  font-family: 'FontWithASyntaxHighlighter', monospace;
  font-palette: --kung-fury-dark;

  [color-scheme='light'] & {
    font-palette: --kung-fury-light;
  }

  display: inline-flex;
  padding: 0.15ch 0.5ch;
  background-color: color-mix(in hsl, var(--text), transparent 90%);
  border-radius: 0.25rem;
}

pre {
  min-width: 0;
  overflow-x: auto;
  padding: 2ch;
  background-color: color-mix(in hsl, var(--text), transparent 90%);
  border-radius: 0.25rem;

  > code {
    display: revert;
    padding: 0;
    background-color: transparent;
  }
}

/* Markdown content styles */
.prose {
  h1 {
    font-size: var(--fs-5);
  }

  h2 {
    font-size: var(--fs-4);
  }

  h3 {
    font-size: var(--fs-3);
  }

  h4 {
    font-size: var(--fs-2);
  }

  p,
  ol,
  ul {
    font-size: var(--fs-0);
  }
}

/* 0 keywords, {} */
/* 1 comments */
/* 2 literals */
/* 3 numbers */
/* 4 functions, [] */
/* 5 js others */
/* 6 not in use */
/* 7 inside quotes, css properties, few chars */
/* 8 few chars */
@font-palette-values --kung-fury-light {
  font-family: 'FontWithASyntaxHighlighter';
  override-colors:
    0 hsl(225 100% 40%),
    1 hsl(250 100% 80%),
    2 hsl(225 100% 40%),
    3 hsl(225 100% 40%),
    4 hsl(270 50% 40%),
    5 hsl(210 40% 2%),
    7 hsl(210 10% 30%),
    8 hsl(327 100% 54%);
}

@font-palette-values --kung-fury-dark {
  font-family: 'FontWithASyntaxHighlighter';
  override-colors:
    0 hsl(188 100% 75%),
    1 hsl(250 100% 80%),
    2 hsl(188 100% 75%),
    3 hsl(188 100% 75%),
    4 hsl(250 100% 80%),
    5 hsl(210 40% 98%),
    7 hsl(210 40% 80%),
    8 hsl(300 100% 80%);
}
