@layer --utils.typography {
  .bold {
    font-weight: var(--fw-semibold);
  }

  .italic {
    font-style: italic;
    font-weight: var(--fw-normal);
    /* Stylistic Sets for R */
    font-feature-settings: 'ss05' on;
  }

  .underline {
    text-decoration: underline;
  }
}
