---
import { getCollection } from 'astro:content'

import FadeOutDown from '@/components/ui/FadeOutDown.astro'
import Heading from '@/components/ui/Heading.astro'
import Hero from '@/components/ui/Hero.astro'
import PostCard from '@/components/ui/PostCard.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'

import { formatBlogPosts } from '@/utils/formatBlogPosts'

const allPosts = await getCollection('posts')
const formattedPosts = formatBlogPosts(allPosts)
---

<BaseLayout
    title="Frontend Stories - Roland Franke"
    description="Explore CSS, JavaScript, and frontend insights. Tips, techniques, and ideas for building accessible, modern web experiences."
>
    <Hero data-grid="fullbleed">
        <FadeOutDown class="flow" data-column="medium">
            <Heading tagName="h1" size="h1">Frontend Stories</Heading>
            <p class="fs-1">
                Explore CSS, JavaScript, and frontend insights. Tips, techniques, and ideas for
                building accessible, modern web experiences.
            </p>
        </FadeOutDown>
    </Hero>

    <div class="grid lane lane--dark" data-grid="fullbleed">
        {formattedPosts.map((post) => <PostCard post={post} />)}
    </div>
</BaseLayout>
