---
import Hero from '@/components/ui/Hero.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout title="Oeps not found" description="The page you are looking for is not found">
    <Hero class="hero--large text-center" slot="hero">
        <h1 class="hero__title">
            <span>&#123;</span> 404 <span>&#125;</span>
        </h1>
        <p class="hero__content">Oeps not found the page you're looking for</p>
    </Hero>
</BaseLayout>
