---
import Hero from '@/components/ui/Hero.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout title="Oeps not found" description="The page you are looking for is not found">
    <Hero class="hero--large text-center" slot="hero">
        <h1 class="hero__title">
            <span>&#123;</span> 404 <span>&#125;</span>
        </h1>
        <p class="hero__content">Oeps not found the page you're looking for</p>
    </Hero>
</BaseLayout>

<style>
    .hero__title {
        /* fix to align the title with text after it */
        margin-inline-start: -0.085ch;
        font-size: utopia.clamp(80, 260, 320, 1200);
        font-weight: var(--fw-semibold);

        view-transition-name: none;

        > span {
            font-family: var(--ff-serif);
            color: var(--color-primary-400);
        }
    }

    .hero__content {
        font-family: var(--ff-serif);
        font-size: utopia.clamp(18, 28);
    }
</style>
