---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Welcome to Roland Franke">
    <section>
        <h1>roland<span>.</span></h1>
        <div>
            <span>[r<span class="underline">o</span>.land]</span>
            <span class="dot">•</span>
            <span class="bold">frontend developer</span>
        </div>
        <p>
            <span class="italic">Roland</span> is a frontend developer with a passion for creative coding
            and a sharp focus on CSS, HTML, andaccessibility. I thrive on building web experiences that
            are not only visually appealing but accessible and performant for everyone.
        </p>
    </section>

    <!-- <section>hello</section>
    <section>hello</section>
    <section>hello</section> -->
</Layout>

<style>
    section {
        display: grid;
        place-content: center;
        gap: utopia.clamp(16, 32);
        padding-block: var(--header-height);

        min-block-size: 100svh;
    }

    h1 {
        font-size: utopia.clamp(80, 260, 400, 1200);
        font-weight: var(--fw-semibold);

        > span {
            color: var(--color-primary-400);
        }
    }

    div {
        display: flex;
        align-items: center;
        gap: utopia.clamp(16, 24);
        font-size: utopia.clamp(20, 38);

        > .dot {
            font-size: utopia.clamp(8, 16);
            color: var(--color-primary-400);
            font-feature-settings: 'aalt' on;
        }
    }

    p {
        font-size: utopia.clamp(18, 28);
    }
</style>
