---
import HeroHome from '@/components/home/Hero.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout>
    <HeroHome />

    <!-- <div class="grid lane lane--light" data-grid="fullbleed">
        <h2>AAP</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>
    </div>

    <div class="grid lane" data-grid="fullbleed">
        <h2>AAP</h2>
        <p data-column="medium">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>

        <p data-column="large">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>
    </div>

    <div class="grid lane lane--light" data-grid="fullbleed">
        <h2>AAP</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>
    </div> -->
</BaseLayout>
