---
import Hero from '@/components/ui/Hero.astro'
import Webring from '@/components/ui/Webring.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout>
    <Hero class="hero--large" data-grid="fullbleed">
        <!-- <FadeOutDown class="grid" data-grid="fullbleed"> -->
        <h1 class="hero__title">roland<span>.</span></h1>
        <div class="hero__explain flex letter-spacing" aria-hidden="true">
            <span>[<span class="ff-serif">r<span class="underline">o</span>.land</span>]</span>
            <span class="dot">•</span>
            <span class="bold">frontend developer</span>
        </div>
        <p class="hero__content">
            <span class="italic">Roland</span> is a frontend developer with a passion for creative coding
            and a sharp focus on CSS, HTML, and accessibility. I thrive on building web experiences that
            are not only visually appealing but accessible and performant for everyone.
        </p>
        <!-- </FadeOutDown> -->
    </Hero>

    <!-- <div class="grid lane lane--light" data-grid="fullbleed">
        <h2>AAP</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>
    </div>

    <div class="grid lane lane--dark" data-grid="fullbleed">
        <h2>AAP</h2>
        <p data-column="medium">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>

        <p data-column="large">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>
    </div>

    <div class="grid lane lane--light" data-grid="fullbleed">
        <h2>AAP</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>
    </div> -->

    <div class="grid lane lane--dark" data-grid="fullbleed">
        <Webring />
    </div>
</BaseLayout>

<style>
    .hero__title {
        /* fix to align the title with text after it */
        margin-inline-start: -0.085ch;
        font-size: utopia.clamp(80, 260, 320, 1200);
        font-weight: var(--fw-semibold);
        white-space: nowrap;

        view-transition-name: none;

        > span {
            color: var(--color-primary-400);
        }
    }

    .hero__explain {
        --letter-spacing: 3;

        font-size: utopia.clamp(20, 38);

        .dot {
            font-size: utopia.clamp(8, 16);
            color: hsl(from var(--color-primary-400) h 90% 50%);
            font-feature-settings: 'aalt' on;
        }
    }

    .hero__content {
        font-size: utopia.clamp(18, 28);
    }
</style>
