---
import Layout from '@layouts/Layout.astro'

const title = 'Welcome to Roland Franke'
const desription = `
Roland Franke's personal blog. Discover a creative frontend developer with expertise in HTML, CSS, React, and accessibility, dedicated to build inclusive and innovative web experiences. Explore projects, professional experience, and insights on modern web development.
`
---

<Layout {title} description={desription}>
    <section class="fade-out-down">
        <h1>roland<span>.</span></h1>
        <div class="explain flex" aria-hidden="true">
            <span>[r<span class="underline">o</span>.land]</span>
            <span class="dot">•</span>
            <span class="bold">frontend developer</span>
        </div>
        <p>
            <span class="italic">Roland</span> is a frontend developer with a passion for creative coding
            and a sharp focus on CSS, HTML, andaccessibility. I thrive on building web experiences that
            are not only visually appealing but accessible and performant for everyone.
        </p>
    </section>

    <!-- <div class="grid lane lane-light skills-section" data-grid="fullbleed">
        <h2>Core Skills</h2>
        <ul class="skills-list">
            <li class="skill-item">HTML</li>
            <li class="skill-item">CSS</li>
            <li class="skill-item">JavaScript</li>
            <li class="skill-item">React</li>
            <li class="skill-item">Accessibility (A11Y)</li>
        </ul>
    </div> -->

    <!-- <div class="grid lane light" data-grid="fullbleed">
        <h2>AAP</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>
    </div>

    <div class="grid lane" data-grid="fullbleed">
        <h2>AAP</h2>
        <p data-column="medium">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>

        <p data-column="large">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>
    </div>

    <div class="grid lane light" data-grid="fullbleed">
        <h2>AAP</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ipsum, voluptate qui
            ab odio natus veritatis cumque! Nulla, expedita. Fugit?
        </p>
    </div> -->
</Layout>

<style>
    section {
        display: grid;
        place-content: center;
        gap: utopia.clamp(16, 32);
        padding-block: var(--header-height);

        min-block-size: 100svh;
    }

    h1 {
        /* fix to align the title with text after it */
        margin-inline-start: -0.085ch;
        font-size: utopia.clamp(80, 260, 400, 1200);
        font-weight: var(--fw-semibold);

        > span {
            color: var(--color-primary-400);
        }
    }

    .explain {
        font-size: utopia.clamp(20, 38);

        .dot {
            font-size: utopia.clamp(8, 16);
            color: var(--color-primary-400);
            font-feature-settings: 'aalt' on;
        }
    }

    p {
        font-size: utopia.clamp(18, 28);
    }

    @media (--motion-ok) {
        @supports (animation-timeline: scroll()) {
            .fade-out-down {
                animation: --fade-out-down linear forwards;
                animation-timeline: --fade-out-down;
                view-timeline-name: --fade-out-down;
                animation-range: cover 50%;
            }
        }
    }

    @keyframes --fade-out-down {
        to {
            opacity: 0;
            transform: translateY(40%);
        }
    }
</style>

<!-- <style>
    .skills-section {
        min-block-size: 100vh;

        font-size: utopia.clamp(18, 28);
    }

    h2 {
        font-size: utopia.clamp(40, 64);
        color: var(--color-primary-400);
    }

    .skills-list {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        list-style: none;
        padding: 0;
    }

    @media (--motion-ok) {
        @supports (animation-timeline: scroll()) {
            .skill-item {
                opacity: 0;
                transform: translateY(20%);

                animation: slideUp linear forwards;
                animation-timeline: scroll();
                animation-range: entry 70%;
            }
        }
    }

    /* Keyframe Animation */
    @keyframes slideUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style> -->
