---
import FadeOutDown from '@components/ui/FadeOutDown.astro'
---

<header class="hero hero--large grid js-angle" id="heroHome">
    <!-- <FadeOutDown class="hero__animation"> -->
    <h1 class="hero__title">roland<span>.</span></h1>
    <div class="hero__explain flex" aria-hidden="true">
        <span>[r<span class="underline">o</span>.land]</span>
        <span class="dot">•</span>
        <span class="bold">frontend developer</span>
    </div>
    <p class="hero__content">
        <span class="italic">Roland</span> is a frontend developer with a passion for creative coding
        and a sharp focus on CSS, HTML, andaccessibility. I thrive on building web experiences that are
        not only visually appealing but accessible and performant for everyone.
    </p>
    <!-- </FadeOutDown> -->
</header>

<script>
    import { setDiagonalAngle } from '@scripts/diagonalAngle'

    setDiagonalAngle('js-angle')
</script>
