---
import Logo from '@/icons/logo.svg'
import DarkLightToggle from '@components/DarkLightToggle.astro'
import Link from '@components/ui/Link.astro'
---

<header>
    <nav class="nav">
        <!-- <div class="flex"> -->
        <a href="/" aria-label="Go to homepage">
            <Logo width="3rem" height="3rem" aria-hidden fill="currentColor" />
        </a>
        <!-- </div> -->

        <ul class="menu">
            <li><Link as="a" href="/frontend-stories">Frontend Stories</Link></li>
        </ul>

        <!-- <div class="flex"> -->
        <DarkLightToggle />
        <!-- <NavButton /> -->
        <!-- </div> -->
    </nav>
</header>

<style>
    :root {
        --header-height: 6rem;
    }

    header {
        position: absolute;
        inset: 0 0 auto;
        z-index: 1;
    }

    nav {
        display: flex;
        align-items: center;
        align-self: flex-start;
        justify-content: space-between;
        gap: utopia.clamp(16, 24);

        padding-block: 1.5rem;
        /* The 960 value is the minumun constrain value */
        padding-inline: utopia.clamp(24, 72, 960);
    }

    a:not(.btn) {
        display: inline-flex;
    }

    svg {
        color: var(--color-primary-400);
        background-color: var(--color-neutral-100);
        align-self: center;
    }

    .menu {
        display: flex;
        gap: utopia.clamp(16, 24);
        padding-inline: 0;
    }
</style>
