---
import { Icon } from 'astro-icon/components'
import DarkLightToggle from '@components/DarkLightToggle.astro'
import Link from '@components/ui/Link.astro'
---

<nav class="nav">
    <div class="flex">
        <a href="/" aria-label="Go to homepage">
            <Icon name="logo" size="3rem" aria-hidden />
        </a>

        <ul class="menu">
            <li><Link as="a" href="/blog">Thing I write about</Link></li>
        </ul>
    </div>

    <DarkLightToggle />
</nav>

<style>
    :root {
        --header-height: 6rem;
    }

    nav {
        position: absolute;
        inset: 0 0 auto;
        z-index: 1;
        display: flex;
        align-items: center;
        align-self: flex-start;
        justify-content: space-between;
        gap: utopia.clamp(16, 24);

        padding-block: 1.5rem;
        /* The 960 value is the minumun constrain value */
        padding-inline: utopia.clamp(24, 48, 960);
    }

    a:not(.btn) {
        display: inline-flex;
    }

    svg {
        color: var(--color-primary-400);
        background-color: var(--color-neutral-100);
        align-self: center;
    }

    .menu {
        display: flex;
        gap: utopia.clamp(16, 24);
        padding-inline: 0;
    }
</style>
