---
import Logo from '@/icons/logo.svg'
import DarkLightToggle from '@components/DarkLightToggle.astro'
import Link from '@components/ui/Link.astro'

const { pathname } = Astro.url
---

<header class="site-header">
    <a href="/" aria-current={pathname.slice(1) === '' ? 'page' : undefined}>
        <Logo
            width="48"
            height="48"
            aria-label="Logo: RF (Roland Franke)"
            fill="currentColor"
            role="img"
        />
        <span class="sr-only"> - Home page</span>
    </a>

    <div>
        <nav aria-label="Primary">
            <ul class="menu">
                <li>
                    <Link
                        as="a"
                        href="/frontend-stories"
                        aria-current={pathname.slice(1) === 'frontend-stories/'
                            ? 'page'
                            : undefined}>Frontend Stories</Link
                    >
                </li>
                <li>
                    <Link
                        as="a"
                        href="/about"
                        aria-current={pathname.slice(1) === 'about/' ? 'page' : undefined}
                        >About</Link
                    >
                </li>
                <!-- <li>
                    <Link as="a" href="/rss.xml">RSS</Link>
                </li> -->
            </ul>
        </nav>

        <div>
            <DarkLightToggle />
        </div>
    </div>
</header>

<style>
    :root {
        --header-height: 6rem;

        @media (--for-phone-only) {
            --header-height: 10rem;
        }
    }

    header {
        position: absolute;
        inset: 0 0 auto;
        z-index: 1;

        display: flex;
        column-gap: 3rem;

        padding-block: 1.5rem;
        /* The 960 value is the minumun constrain value */
        padding-inline: utopia.clamp(24, 72, 960);

        @media (--for-phone-only) {
            flex-direction: column;
            align-items: center;
            align-self: flex-start;
            row-gap: 1rem;
        }

        > div {
            display: flex;
            align-items: center;
            gap: utopia.clamp(16, 24);
            flex-grow: 1;

            > div {
                flex-shrink: 0;
                min-block-size: 3rem;
                min-inline-size: 3rem;
                margin-inline-start: auto;
            }
        }
    }

    a:not(.btn) {
        --logo-bg: var(--color-neutral-100);
        --logo-color: var(--color-primary-400);

        display: grid;
    }

    .menu {
        display: flex;
        gap: utopia.clamp(16, 24);
        padding-inline: 0;
    }
</style>
