---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'> & {
    href: string
}

const { href, ...rest } = Astro.props
---

<a {href} {...rest}><slot /></a>

<style>
    a {
        display: flex;
        background-color: var(--color-primary-400);
        padding-inline: 2ch;
        translate: 0 -200%;
        position: absolute;
        z-index: 100;
        inset-block-start: 0.5rem;
        inset-inline-start: 0.5rem;
        font-weight: var(--fw-semibold);
        color: var(--color-white);
        text-decoration: none;
        align-items: center;
        justify-content: center;
        transition: translate 0.25s var(--ease-elastic-2);

        @media (--motion-ok) {
            &:is(:focus, :focus-visible) {
                translate: 0 0;
            }
        }
    }
</style>
