.codepen-embed-body {
  --cp-clr-100: hsl(60 22% 85%);
  --cp-clr-900: hsl(210 31% 11%);
  --cp-clr-400: hsl(338 73% 45%);

  --cp-text: light-dark(var(--cp-clr-900), var(--cp-clr-100));
  --cp-surface: light-dark(var(--cp-clr-100), var(--cp-clr-900));

  border: 1px solid hsl(from var(--cp-text) h s l / 0.25) !important;
  border-radius: 0.5rem;
}

[color-scheme='light'] .codepen-embed-body {
  --text: var(--color-neutral-900);
  --surface: var(--color-neutral-100);
}

[color-scheme='dark'] .codepen-embed-body {
  --text: var(--color-neutral-100);
  --surface: var(--color-neutral-900);
}

.embed-footer,
.embed-nav {
  background-color: color-mix(in hsl, var(--cp-text), transparent 90%);
}

.embed-nav .logo-wrap .edit-on-codepen {
  color: var(--cp-text);
}

.embed-nav svg {
  stroke: var(--cp-text) !important;
}

.embed-nav .code-types a,
.embed-nav .result-button-list a,
.action-button {
  color: var(--cp-text);
  background-color: var(--cp-surface);

  &:is(:hover, :focus-visible) {
    color: hsl(0 0% 100%);
    background-color: var(--cp-clr-400);
  }
}

.embed-nav .code-types a.active,
.embed-nav .result-button-list a.active,
.action-button.active {
  background-color: color-mix(in hsl, var(--cp-text), transparent 80%) !important;
  box-shadow: inset 0px 3px color-mix(in hsl, var(--cp-text), transparent 70%) !important;
  color: var(--cp-text) !important;
}
