.hero {
  --_angle: calc(180 - var(--angle));

  position: relative;
  padding-block: var(--header-height);

  align-content: center;
  isolation: isolate;

  &::after {
    content: '';
    z-index: -1;
    inset: 0;
    position: absolute;
    background-image: linear-gradient(calc(var(--_angle) * -1deg), var(--surface) 40%, transparent);

    pointer-events: none;
  }

  &:not(:has(.hero__animation)) {
    display: grid;
    row-gap: utopia.clamp(16, 32);
  }

  &:not(.hero--large) {
    min-block-size: 50vh;

    > * {
      grid-column-start: medium;
      max-inline-size: calc(var(--constrain-sm) + 3rem);
    }
  }

  &.hero--large {
    min-block-size: 100svh;
  }
}

.hero__animation {
  display: grid;
  row-gap: utopia.clamp(16, 32);
}
