html {
  scrollbar-color: var(--color-primary-400) transparent;
  scrollbar-gutter: stable;

  /*
    * --clip-path for the dark-light transition
    * --toggle-delay Used in the dark-light toggle button
  */
  &[color-scheme='light'] {
    --clip-path: 100% 0 0 0;
    --toggle-delay: 0.4s;
  }

  &[color-scheme='dark'] {
    --clip-path: 0 0 100% 0;
    --toggle-delay: 0.15s;
  }

  @media (--motion-ok) {
    scroll-behavior: smooth;
  }
}

body {
  --_size: 3rem;
  --_offset: calc(var(--_size) / 2);
  --_line: color-mix(in oklch, var(--text), var(--surface) 80%);

  margin: 0;
  font-family: var(--ff-sans);
  font-size: var(--fs-0);
  line-height: 1.5;
  color: var(--text);
  background-color: var(--surface);

  /* Stylistic Sets for & and R */
  font-feature-settings:
    'ss11' on,
    'ss05' on;

  &::before,
  &::after {
    content: '';
    z-index: -1;
    inset: 0;
    pointer-events: none;
    position: absolute;
  }

  &::before {
    background-image:
      linear-gradient(90deg, var(--_line) 1px, transparent 1px var(--_size)),
      linear-gradient(var(--_line) 1px, transparent 1px var(--_size));
    background-position: var(--_offset) var(--_offset);
    background-size: var(--_size) var(--_size);
    background-attachment: fixed;
  }

  &::after {
    background-image: linear-gradient(to top left, var(--surface) 40%, transparent);
  }
}

:is(:focus-visible) {
  outline-color: var(--color-primary-400);
  outline-offset: 0.25rem;
  outline-style: solid;
  outline-width: 0.25rem;
}

.icon-link {
  --icon-size: 3rem;

  aspect-ratio: 1;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  inline-size: var(--icon-size);
  outline: 1px solid transparent;
  outline-color: transparent;
  outline-width: 1px;
  padding: 0.5rem;
  text-decoration-skip-ink: auto;
  color: currentColor;

  @media (--is-mouse) {
    &:hover {
      outline-color: var(--color-primary-400);
      outline-offset: -0.25rem;
      outline-width: 0.5rem;
    }
  }

  &:focus-visible {
    outline-color: var(--color-primary-400);
    outline-offset: -0.25rem;
    outline-width: 0.5rem;
  }

  @media (--motion-ok) {
    transition:
      outline-offset 0.7s var(--ease-spring),
      outline-color 0.7s var(--ease-out),
      outline-width 0.7s var(--ease-spring);
  }

  > svg {
    display: block;
  }
}

@layer --baseline-status {
  .baseline-status::part(root) {
    --color-text: var(--text) !important;
    --color-outline: oklch(from var(--text) l c h / 0.25) !important;
    --color-background: color-mix(in oklch, var(--text), transparent 90%) !important;
  }
}

@layer --containers {
  cq-document-vi {
    container-name: cq-document-vi;
    container-type: inline-size;
  }
}

@layer --view-transitions {
  @media (--motion-ok) {
    @view-transition {
      navigation: auto;
    }

    html:active-view-transition-type(dark-light) {
      &::view-transition-old(root) {
        animation: none;
        z-index: -1;
      }

      &::view-transition-new(root) {
        animation: --reveal 0.75s var(--spring);
        clip-path: inset(0 0 0 0);
        z-index: 2;
      }
    }
  }
}

@layer --keyframes {
  @keyframes --reveal {
    from {
      clip-path: inset(var(--clip-path));
    }
  }

  @keyframes --scale-out {
    to {
      scale: 0;
    }
  }

  @keyframes --scale-in {
    from {
      scale: 0;
    }
  }
}
