/* @view-transition {
  navigation: auto;
} */

html {
  color-scheme: dark light;

  &[color-scheme='light'] {
    color-scheme: light only;
  }

  &[color-scheme='dark'] {
    color-scheme: dark only;
  }
}

body {
  /* display: grid; */
  margin: 0;
  font-family: var(--ff-base);
  line-height: 1.5;
  color: var(--text);
  background-color: var(--surface);

  /* Stylistic Sets for & */
  font-feature-settings: 'ss11' on;

  /* > * {
    grid-area: 1 / 1;
  } */

  &::before,
  &::after {
    content: '';
    z-index: -1;
    inset: 0;
  }

  &::before {
    --size: 3rem;
    --offset: calc(var(--size) / 2);
    --line: color-mix(in hsl, var(--text), var(--surface) 90%);

    position: fixed;
    background-image: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)),
      linear-gradient(var(--line) 1px, transparent 1px var(--size));
    background-position: var(--offset) var(--offset);
    background-size: var(--size) var(--size);
    background-attachment: fixed;
  }
}
