:root {
  --color-neutral-100: hsl(60 22% 85%);
  --color-neutral-900: hsl(210 31% 11%);
  --color-primary-400: hsl(338 73% 45%);

  --text: light-dark(var(--color-neutral-900), var(--color-neutral-100));
  --surface: light-dark(var(--color-neutral-100), var(--color-neutral-900));

  /*
    iOS 17.5 needs this
    light-dark() won't work with the color-mix()
    for example: `color-mix(in hsl, var(--text), var(--surface) 90%);`
    does not work with the above --text and --surface custom properties
  */
  [color-scheme='light'] {
    --text: var(--color-neutral-900);
    --surface: var(--color-neutral-100);
  }

  [color-scheme='dark'] {
    --text: var(--color-neutral-100);
    --surface: var(--color-neutral-900);
  }

  /* typography */
  --ff-sans: 'Instrument Sans', sans-serif;
  --ff-serif: 'Hedvig Letters Serif', serif;

  --fw-normal: 400;
  --fw-semibold: 600;

  /* Easings */
  --ease: cubic-bezier(0.25, 0, 0.3, 1);
  --ease-out: cubic-bezier(0, 0, 0, 1);
  --ease-elastic-1: cubic-bezier(0.5, 1.25, 0.75, 1.25);
  --ease-elastic-2: cubic-bezier(0.5, 1.5, 0.75, 1.25);

  /* main constrain */
  --constrain-lg: 87rem;
  --constrain-md: 69rem;
  --constrain-sm: 57rem;
  --constrain-xs: 51rem;

  --gutter: 1.5rem;
}
