:root {
  --color-neutral-100: hsl(60 22% 85%);
  --color-neutral-900: hsl(210 31% 11%);
  --color-primary-400: hsl(338 73% 45%);

  /* typography */
  --ff-base: 'Instrument Sans', system-ui, sans-serif;

  --fw-normal: 400;
  --fw-semibold: 600;
}
