---
import '@styles/global.css'

import NavHeader from '@/components/NavHeader.astro'

interface Props {
    title: string
    description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Roland" />
        <link rel="manifest" href="/site.webmanifest" />

        <meta name="generator" content={Astro.generator} />
        {description && <meta name="description" content={description} />}
        <title>{title}</title>
    </head>
    <body nojs>
        <NavHeader />

        <main class="grid">
            <slot />
        </main>
    </body>
</html>

<script>
    document.body.removeAttribute('nojs')

    document.addEventListener('DOMContentLoaded', () => {
        const originalTitle = document.title

        window.addEventListener('blur', () => {
            document.title = 'Aw, Snap! 🤯'
        })

        window.addEventListener('focus', () => {
            document.title = originalTitle
        })
    })
</script>

<style>
    /* main {
        overflow-y: auto;
        block-size: 100%;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        overscroll-behavior: contain;

        :global(> *) {
            scroll-snap-align: start;
        }
    } */
</style>
