---
import '@styles/global.css'

import { Icon } from 'astro-icon/components'
import DarkLightToggle from '@components/DarkLightToggle.astro'

interface Props {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <header>
            <Icon name="logo" size="3rem" />

            <DarkLightToggle />
        </header>

        <main>
            <slot />
        </main>
    </body>
</html>

<style>
    header {
        position: absolute;
        inset: utopia.clamp(24, 48) utopia.clamp(24, 48) auto;
        display: flex;
        justify-content: space-between;
    }

    svg {
        color: var(--color-primary-400);
        background-color: var(--color-neutral-100);
        align-self: center;
    }
</style>
