---
import IconExternalLink from '@/icons/icon-external-link.svg'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'> & {
    href: string
    className?: 'reversed'
}

const { href, className, ...rest } = Astro.props as Props
const site = new URL(import.meta.env.SITE).origin
const isExternal = href?.startsWith('http') && new URL(href).origin !== site
const attrs = isExternal ? { target: '_blank', rel: 'noopener noreferrer' } : {}
---

<a {href} class={className} {...attrs} {...rest}>
    <span><slot /></span>

    {isExternal && <IconExternalLink width="1.5ch" height="1.5ch" />}
</a>

<style>
    a {
        color: currentColor;
        text-decoration: none;

        > span {
            background-image: linear-gradient(var(--color-primary-400) 0 0);
            background-size: 100% 0.3em;
            background-position: 0 100%;
            background-repeat: no-repeat;
            transition: background-size 0.5s var(--ease-elastic-2);
        }

        > svg {
            vertical-align: -0.1lh;
        }

        @media (--is-mouse) {
            &:hover {
                > span {
                    background-size: 0 0.3em;
                    background-position: 100% 100%;
                    transition-delay: 125ms;
                }
            }
        }

        &:focus-visible {
            > span {
                background-size: 0 0.3em;
                background-position: 100% 100%;
                transition-delay: 125ms;
            }
        }

        &.reversed {
            > span {
                background-size: 0 0.3em;
                background-position: 100% 100%;
            }

            @media (--is-mouse) {
                &:hover {
                    > span {
                        background-size: 100% 0.3em;
                        background-position: 0 100%;
                    }
                }
            }
        }
    }
</style>
