---
interface Props {
    class?: 'hero--large' | 'text-center' | 'hero--large text-center'
}

const { class: providedProps, ...rest } = Astro.props
---

<div class:list={['hero grid', providedProps]} {...rest}>
    <slot />
</div>

<style>
    div {
        --_size: 3rem;
        --_offset: calc(var(--_size) / 2);
        --_line: color-mix(in hsl, var(--text), var(--surface) 90%);

        position: relative;
        min-block-size: 50vh;
        isolation: isolate;

        &::before,
        &::after {
            content: '';
            z-index: -1;
            inset: 0;
            pointer-events: none;
            position: absolute;
        }

        &::before {
            background-image:
                linear-gradient(90deg, var(--_line) 1px, transparent 1px var(--_size)),
                linear-gradient(var(--_line) 1px, transparent 1px var(--_size));
            background-position: var(--_offset) var(--_offset);
            background-size: var(--_size) var(--_size);
            background-attachment: fixed;
        }

        &::after {
            background-image: linear-gradient(to top left, var(--surface) 40%, transparent);
        }

        &.hero--large {
            align-content: center;
            row-gap: utopia.clamp(16, 32);
            min-block-size: 100svh;
            padding-block: var(--header-height);
        }

        &:has(> :only-child) {
            padding-block: 0;

            :global(> :only-child) {
                padding-block: var(--header-height);
                align-content: end;
                max-inline-size: calc(var(--constrain-sm) + 3rem);

                .hero--large & {
                    row-gap: inherit;
                }
            }
        }
    }
</style>
