---
import { type Polymorphic } from 'astro/types'

type Tag = 'a' | 'button'

type Props<TagGeneric extends Tag> = {
    as: TagGeneric
    variant?: 'link'
    classList?: string[]
} & Polymorphic<{ as: TagGeneric }>

const { as: Tag, variant = 'link', classList = [], href, type = 'button', ...rest } = Astro.props

const baseAttributes = {
    classes: ['btn', variant, ...classList],
    ...rest,
}

const anchorAttributes = {
    href: href,
}

const buttonAttributes = {
    type: type,
}

const attributeBasedOnTag = Tag === 'a' ? anchorAttributes : buttonAttributes

const allAttributes = { ...baseAttributes, ...attributeBasedOnTag }
const { classes, ...attributes } = allAttributes
---

<Tag class:list={[classes]} {...attributes}>
    <span><slot /></span>
</Tag>

<style>
    .btn {
        justify-self: start;

        color: currentColor;
        text-decoration: none;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;

        touch-action: manipulation;
    }

    .link {
        &button {
            text-align: left;
        }

        > span {
            background-image: linear-gradient(var(--color-primary-400) 0 0);
            background-size: 100% 0.3em;
            background-position: 0 100%;
            background-repeat: no-repeat;
            transition: background-size 0.5s var(--ease-elastic-2);
        }

        @media (--is-mouse) {
            &:hover {
                > span {
                    background-size: 0 0.3em;
                    background-position: 100% 100%;

                    transition-delay: 125ms;
                }
            }
        }

        &:focus-visible {
            > span {
                background-size: 0 0.3em;
                background-position: 100% 100%;

                transition-delay: 125ms;
            }
        }
    }
</style>
