---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'a'> {
    href: string
}

const { href, ...rest } = Astro.props
---

<a {href} {...rest}>
    <slot />
</a>

<style>
    a {
        --_clr: light-dark(
            hsl(from var(--color-primary-400) h s l / 0.5),
            var(--color-primary-400)
        );

        color: currentColor;
        justify-self: start;
        text-decoration: none;
        background-image: linear-gradient(var(--_clr) 0 0);
        background-size: 0 0.3lh;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        transition: background-size 0.5s var(--ease-elastic-2);

        &:is(:hover, :focus-visible) {
            background-size: 100% 0.3lh;
            background-position: 0 100%;
            transition-delay: 125ms;
        }
    }

    :global(p) > a {
        background-size: 100% 0.3lh;
        background-position: 0 100%;
    }

    :global(p) > a:is(:hover, :focus-visible) {
        background-size: 0 0.3lh;
        background-position: 100% 100%;
    }
</style>
