---
import Link from '@/components/ui/Link.astro'
import Next from '@/icons/icon-next.svg'
import Previous from '@/icons/icon-previous.svg'
import Shuffle from '@/icons/icon-shuffle.svg'

const siteBaseURL = new URL(Astro.url)
---

<div class="webring fs--1">
    <p>Crawl the <Link as="a" href="https://CS.Sjoy.lol">CSS Webring</Link></p>

    <div>
        <a
            title="Previous site in the CSS Webring"
            href=`https://webri.ng/webring/cssjoy/previous?via=${siteBaseURL}`
            class="icon-link"
        >
            <Previous aria-hidden fill="currentColor" />
        </a>

        <a
            title="Random site in the CSS Webring"
            href=`https://webri.ng/webring/cssjoy/random?via=${siteBaseURL}`
            class="icon-link"
        >
            <Shuffle aria-hidden fill="currentColor" />
        </a>

        <a
            title="Next site in the CSS Webring"
            href=`https://webri.ng/webring/cssjoy/next?via=${siteBaseURL}`
            class="icon-link"
        >
            <Next aria-hidden fill="currentColor" />
        </a>
    </div>
</div>

<style>
    .webring {
        display: grid;
        place-items: center;
        gap: 0.25rem;

        > div {
            display: flex;
            gap: 0.5rem;
        }
    }
</style>
